/.idea
.idea

/node_modules
package-lock.json

.DS_Store

/config/config.json
config/config.json

.vscode/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
