<script type="text/javascript" src="/javascripts/aboutUs.js"></script>


<!-- Page Content -->
<div class="container">

    <!-- Introduction Row -->
    <h1>About Us</h1>
    <hr>
    <h3 class="text-center">CSC 648-848 Software Engineering</h3>
    <h3 class="text-center">We are Team 11</h3>
    <br>

    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="/images/about/sukhjit.jpg" alt="">
            <h3>Sukhjit Singh</h3>
            <p>Backend Lead</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="/images/about/Alex.jpg" alt="">
            <h3>Alex Tung</h3>
            <p>Team Lead</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="/images/about/szeto.jpg" alt="">
            <h3>Nicholas Szeto</h3>
            <p>Frontend Lead</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="/images/about/ralph.jpg" alt="">
            <h3>Ralph Acosta</h3>
            <p>Frontend Member</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="/images/about/ilya.jpg" alt="">
            <h3>Ilya Nemtsov</h3>
            <p>Backend Member</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="/images/about/michael.jpg" alt="">
            <h3>Yangshan Huang</h3>
            <p>Frontend Member</p>
        </div>

    </div>

</div>
<!-- /.container -->