<style>
    .card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
        width: 300px;
        height: 300px;
        max-height: 100%;
        max-width: 100%;
    }
    #cardImage{
        position: relative;
        width: 100%;
    }
    #cardListingPrice{
        color: white;
        position: absolute;
        top: 250px;
        left: 0;
        width: 100%;
    }
    /* Style the tab */
    div.tab {
        float: left;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 10%;
        height: 600px;
        /*height: 100%;*/
    }
    /* Style the buttons inside the tab */
    div.tab button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
    }
    /* Change background color of buttons on hover */
    div.tab button:hover {
        background-color: #ddd;
    }
    /* Style the tab content */
    .tabContent {
        float: left;
        padding: 0px 12px;
        border: 1px solid #ccc;
        width: 90%;
        border-left: none;
        height: 600px;
        /*height:100%;*/
    }
</style>

<div class="container">
    <h1>My Profile</h1>
    <div class="tab">
        <button class="tablinks" onclick="changeTab(event, 'Listings')" id="defaultTab">Listings</button>
        <button class="tablinks" onclick="changeTab(event, 'Messages')">Messages</button>
        <button class="tablinks" onclick="changeTab(event, 'Other')">Other</button>
    </div>

    <div id="Listings" class="tabContent">
        <h3>Listings</h3>
        <p>Listings</p>
        <div class="row">

            <div class="col-sm-6">
                <div class="card">
                    <a href="#"><img class="card-img-top" style="width:300px;height:300px; max-height: 100%; max-width: 100%;"
                                     src="https://i.pinimg.com/736x/73/de/32/73de32f9e5a0db66ec7805bb7cb3f807--navy-blue-houses-blue-and-white-houses-exterior.jpg"
                                     alt="ListingThree">
                    </a>
                    <div class="card-block">
                        <h4 class="card-title">Listing Three</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div id="cardImage">
                        <a href="#"><img class="card-img-top" style="width:300px;height:300px; max-height: 100%; max-width: 100%;"
                                         src="https://i.pinimg.com/736x/73/de/32/73de32f9e5a0db66ec7805bb7cb3f807--navy-blue-houses-blue-and-white-houses-exterior.jpg"
                                         alt="ListingThree">
                        </a>
                        <h2 id="cardListingPrice">$ 1000</h2>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Listing Four</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="Messages" class="tabContent">
        <h3>Messages</h3>
        <p>Messages</p>

    </div>

    <div id="Other" class="tabContent">
        <h3>Other</h3>
        <p>Other stuff</p>
    </div>
</div>

<script>
    function changeTab(event, dashBoardTab) {
        var tabIndex, tabContent, tablinks;
        tabContent = document.getElementsByClassName("tabContent");
        for (tabIndex = 0; tabIndex < tabContent.length; tabIndex++) {
            tabContent[tabIndex].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (tabIndex = 0; tabIndex < tablinks.length; tabIndex++) {
            tablinks[tabIndex].className = tablinks[tabIndex].className.replace(" active", "");
        }
        document.getElementById(dashBoardTab).style.display = "block";
        event.currentTarget.className += " active";
    }
    document.getElementById("defaultTab").click();
</script>