<div class="box">
    <div class="container-4">
        <input type="search" id="search" placeholder="Search..." />
        <button class="icon"><i class="fa fa-search"></i></button>
    </div>
</div>
