<div class="container">
    <div class="row">
        <!--Search Bar Start-->
        <div style="padding: 50px 100px 40px 100px; " class="col-md-12">
            <form action="/search" method="POST">
                <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Search" name="searchQuery"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
           </form>
        </div>
    </div>
    <!--Search Bar End-->
</div>
<!--Featured Listings Start-->
<div class="container">
<h1 style="text-align: center">Featured Listings</h1>
    <!--First Left and Right Card Start-->
    <div style="padding: 50px 50px 50px 50px;">
        <div class="row">
            <div class="col-height col-middle col-xs-6 pull-left card">
                <div class="col-xl-12 text-center">
                    <h3>Listing One</h3>
                </div>
            </div>
            <div class="col-height col-middle col-xs-6 pull-right card">
                <div class="col-xl-12 text-center">
                    <h3>Listing Two</h3>
                </div>
            </div>
        </div>
    </div>
    <!--First Left and Right Card End-->

    <!--Second Left and Right Card Start-->
    <div style="padding: 50px 50px 50px 50px;">
        <div class="row">
            <div class="col-height col-middle col-xs-6 pull-left card">
                <div class="col-xs-12 text-center">
                    <h3>Listing Three</h3>
                </div>
            </div>
            <div class="col-height col-middle col-xs-6 pull-right card">
                <div class="col-xs-12 text-center">
                    <h3>Listing Four</h3>
                </div>
            </div>
        </div>
    </div>

    <!--Second Left and Right Card End-->

    <!--Third Left and Right Card Start-->
    <div style="padding: 50px 50px 50px 50px;">
        <div class="row">
            <div class="col-height col-middle col-xs-6 pull-left card">
                <div class="col-xs-12 text-center">
                    <h3>Listing Five</h3>
                </div>
            </div>
            <div class="col-height col-middle col-xs-6 pull-right card">
                <div class="col-xs-12 text-center">
                    <h3>Listing Six</h3>
                </div>
            </div>
        </div>
    </div>
    <!--Third Left and Right Card End-->

</div>
<!--Featured Listings End-->