<!-- Bootstrap core CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    <!-- Custom styles for this template -->
<link href="http://getbootstrap.com/docs/4.0/examples/jumbotron/jumbotron.css" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href = "/stylesheets/searchbox.css" rel="stylesheet"/>

<div class="container">
    <div class="row">
        <!--Search Bar Start-->
        <div class="box">
            <div class="container-4">
                <form action="/search" method="POST">
                    <input id="search" type="search" name="searchQuery" placeholder="Search by city or zip"/>
                    <button class="icon"><i class="fa fa-search"></i></button>
                </form>
                <!--<form action="#" method="get" id="searchForm" class="input-group">-->

                <!--<div class="input-group-btn search-panel">-->
                <!--<select name="search_param" id="search_param" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
                <!--<option value="all">All</option>-->
                <!--<option value="zipcode">Zip Code</option>-->
                <!--<option value="city">City</option>-->
                <!--<option value="state">State</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--</form>-->
            </div>
        </div>
    </div>
    <!--Search Bar End-->
</div>
<!--Featured Listings Start-->
<div class="container">
<h1 style="text-align: center">Featured Listings</h1>
    <!--First Left and Right Card Start-->
    <div style="padding: 50px 50px 50px 50px;">
        <div class="row">
            <div class="col-height col-middle col-xs-6 pull-left card">
                <div class="col-xl-12 text-center">
                    <h3>Listing One</h3>
                </div>
            </div>
            <div class="col-height col-middle col-xs-6 pull-right card">
                <div class="col-xl-12 text-center">
                    <h3>Listing Two</h3>
                </div>
            </div>
        </div>
    </div>
    <!--First Left and Right Card End-->

    <!--Second Left and Right Card Start-->
    <div style="padding: 50px 50px 50px 50px;">
        <div class="row">
            <div class="col-height col-middle col-xs-6 pull-left card">
                <div class="col-xs-12 text-center">
                    <h3>Listing Three</h3>
                </div>
            </div>
            <div class="col-height col-middle col-xs-6 pull-right card">
                <div class="col-xs-12 text-center">
                    <h3>Listing Four</h3>
                </div>
            </div>
        </div>
    </div>

    <!--Second Left and Right Card End-->

    <!--Third Left and Right Card Start-->
    <div style="padding: 50px 50px 50px 50px;">
        <div class="row">
            <div class="col-height col-middle col-xs-6 pull-left card">
                <div class="col-xs-12 text-center">
                    <h3>Listing Five</h3>
                </div>
            </div>
            <div class="col-height col-middle col-xs-6 pull-right card">
                <div class="col-xs-12 text-center">
                    <h3>Listing Six</h3>
                </div>
            </div>
        </div>
    </div>
    <!--Third Left and Right Card End-->

</div>
<!--Featured Listings End-->