{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<form method="post" action="listing">
    <div class="form-row">
        <h1> Listing Address</h1>
    </div>
    <div class="form-group col-md-6">
        <label>Address</label>
        <input type="text" class="form-control" placeholder="1234 Main St" name="inputAddress">
    </div>
    <div class="form-group col-md-6">
        <label>Address 2</label>
        <input type="text" class="form-control"  placeholder="Apartment, studio, or floor" name="inputAddress2">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>City</label>
            <input type="text" class="form-control" placeholder ="San Francisco" name="inputCity" >
        </div>
        <div class="form-group col-md-4">
            <label>State</label>
            <input type="text" class="form-control"  placeholder ="California" name="inputState">
        </div>
        <div class="form-group col-md-2">
            <label>Zip</label>
            <input type="text" class="form-control"  placeholder = "94121" name="inputZip">
        </div>
    </div>
    <h1> Facts and Features</h1>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Bedrooms</label>
            <input type="text" class="form-control" placeholder ="Number of beds" name="bedroomNumber">
        </div>
        <div class="form-group col-md-2">
            <label>Bathrooms</label>
            <input type="text" class="form-control"  placeholder ="Number od bath" name="bathroomNum">
        </div>
        <div class="form-group col-md-2">
            <label>Flooring</label>
            <input type="text" class="form-control"  placeholder ="Floor size" name="flooring">
        </div>
        <div class="form-group col-md-2">
            <label>Build date</label>
            <input type="text" class="form-control" placeholder ="Built in" name="builtDate" >
        </div>
        <div class="form-group col-md-2">
            <label> Price</label>
            <input type="text" class="form-control"  placeholder ="price" name="price">
        </div>
        <br>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>