{{#if errors}} {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
{{/each}} {{/if}}

<h1 style="text-align: center"> Create Listing</h1>

<div class="container">
    <!--Form tag start-->
    <form method="POST" action="/listing">
        <div class="row">


            <!--Property Information start-->
            <div id="propertyInformation" class="col-md-6">
                <h3>Fill in the property information</h3>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="streetAddress">Address 1 *</label>
                        <input type="text" class="form-control" name="streetAddress" placeholder="1234 Main St">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="streetAddress2">Address 2</label>
                        <input type="text" class="form-control" name="streetAddress2"
                               placeholder="Apartment, studio, or floor">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="city">City *</label>
                        <input type="text" class="form-control" name="city" placeholder="San Mateo">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="state">State *</label>
                        <select name="state" class="form-control">
                            <option selected>Choose a state</option>
                            <option value="AL">AL</option>
                            <option value="AK">AK</option>
                            <option value="AZ">AZ</option>
                            <option value="AR">AR</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DE">DE</option>
                            <option value="DC">DC</option>
                            <option value="FL">FL</option>
                            <option value="GA">GA</option>
                            <option value="HI">HI</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="IA">IA</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="ME">ME</option>
                            <option value="MD">MD</option>
                            <option value="MA">MA</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MS">MS</option>
                            <option value="MO">MO</option>
                            <option value="MT">MT</option>
                            <option value="NE">NE</option>
                            <option value="NV">NV</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NY">NY</option>
                            <option value="NC">NC</option>
                            <option value="ND">ND</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VT">VT</option>
                            <option value="VA">VA</option>
                            <option value="WA">WA</option>
                            <option value="WV">WV</option>
                            <option value="WI">WI</option>
                            <option value="WY">WY</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="zipcode">Zip code *</label>
                        <!--<Label>ZIP Code</Label>
                        <input type="text" pattern="[0-9]{5}" title="Five digit zip code" />-->
                        <input type="text" pattern="[0-9]{5}" class="form-control" name="zipcode" placeholder="95235">
                    </div>
                </div>
            </div>
            <!--Property Information End-->


            <div id="propertyDetails" class="col-md-6">

                <h3>Details</h3>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Bedrooms *</label>
                        <input type="number" min="0" class="form-control" placeholder="Number of beds" name="bedroomNumber">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Bathrooms *</label>
                        <input type="number" min="0" class="form-control" placeholder="Number of baths" name="bathroomNumber">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Property Price *</label>
                        <input type="number" min="0" class="form-control" placeholder="price" name="price">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="year">Build year *</label>
                        <!--<input type="number" class="form-control" placeholder="Built in" name="builtYear">-->
                        <select id="year" class="form-control"></select>
                    </div>
                </div>
            </div>

        </div>


        <div class=" form-group">
            <label class="custom-file">
                <input type="file" id="file2" class="custom-file-input">
                <span class="custom-file-control"></span>
            </label>
        </div>
        <button type="submit" class="btn btn-success">Create Listing</button>

    </form>


</div>

<script>
    //Year printout
    var startYear = new Date().getFullYear();
    var endYear = 1800;
    var options = "<option> Choose a year built </option>";
    for(var year = startYear ; year >= endYear; year--){
        options += "<option>"+ year +"</option>";
    }
    document.getElementById("year").innerHTML = options;
</script>