<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="javascripts/listings.js"></script>

{{#if errors}} {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
{{/each}} {{/if}}

<div class="container">

    <h1>Create Listing</h1>
    <hr>

    <!--breadcrumb start-->
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/listing">Create Listing</a>
        <span class="breadcrumb-item active">Upload Images</span>
    </nav>
    <!--breadcrumb end-->

    <!--Form tag start-->
    <form method="POST" action="/listing">
        <h5>* Required Fields</h5>
        <br>
        <div class="row">

            <!--Property Information start-->
            <div id="propertyInformation" class="col-md-6">
                <h2>Fill in the property information</h2>

                <div class="form-row">
                    <div class="form-group col-md-12 ">
                        <label for="streetAddress">Address *</label>
                        <input type="text" id="inputAddress" class="form-control" name="streetAddress"
                               placeholder="1234 Main St" maxlength="40">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="streetAddress2">Address 2</label>
                        <input type="text" id="inputAddress2" class="form-control" name="streetAddress2"
                               placeholder="Apartment, studio, or floor" maxlength="40">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="city">City *</label>
                        <input type="text" id="inputCity" class="form-control" name="city" placeholder="San Mateo"
                               pattern="[a-zA-Z ]+" maxlength="40">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="state">State *</label>
                        <select id="state" name="state" class="form-control">
                            <option selected disabled>Choose a state</option>
                            <option value="AL">AL</option>
                            <option value="AK">AK</option>
                            <option value="AZ">AZ</option>
                            <option value="AR">AR</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DE">DE</option>
                            <option value="DC">DC</option>
                            <option value="FL">FL</option>
                            <option value="GA">GA</option>
                            <option value="HI">HI</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="IA">IA</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="ME">ME</option>
                            <option value="MD">MD</option>
                            <option value="MA">MA</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MS">MS</option>
                            <option value="MO">MO</option>
                            <option value="MT">MT</option>
                            <option value="NE">NE</option>
                            <option value="NV">NV</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NY">NY</option>
                            <option value="NC">NC</option>
                            <option value="ND">ND</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VT">VT</option>
                            <option value="VA">VA</option>
                            <option value="WA">WA</option>
                            <option value="WV">WV</option>
                            <option value="WI">WI</option>
                            <option value="WY">WY</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="zipcode">Zip code *</label>
                        <input type="number" id="inputZipcode" min="0" max="99999" pattern="[0-9]{5}"
                               class="form-control" name="zipcode" placeholder="95235">
                    </div>
                </div>

            </div>
            <!--Property Information End-->

            <div id="propertyDetails" class="col-md-6">
                <h2>Details</h2>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Bedrooms *</label>
                        <select class="form-control" name="bedroomNumber">
                            <option selected disabled>Choose the # of bedrooms</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Bathrooms *</label>
                        <select class="form-control" name="bathroomNumber">
                            <option selected disabled>Choose the # of bathrooms</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Property Price *</label>
                        <input type="number" id="inputPrice" min="0" class="form-control" placeholder="price"
                               name="price">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="builtYear">Build year *</label>
                        <select id="builtYear" class="form-control" name="buildYear"></select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Lot Size *</label>
                        <input type="number" id="inputLotSize" min="0" class="form-control" placeholder="SqFt"
                               name="lotSize">
                    </div>

                    <div class="form-group col-md-6">
                        <label>HVAC</label> <br>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                       value="option1"> Yes
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                       value="option2"> No
                            </label>
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Type Of Home *</label>
                        <select name="typeOfHome" class="form-control">
                            <option selected disabled>Choose the type of home</option>
                            <option value="Apartment">Apartment</option>
                            <option value="Condo">Condo</option>
                            <option value="House">House</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Parking *</label>
                        <select name="parking" class="form-control">
                            <option selected disabled>Choose the # of parking</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>

            </div>
            <br>
        </div>
        <button type="submit" class="btn btn-danger pull-left" formaction="/listing/cancel">Cancel</button>
        <button type="submit" class="btn btn-primary pull-right" formaction="/listing/photos">Continue</button>
    </form>
</div>

