<div class="container">
    <h2 class="page-header text-center">Account Login</h2>
    <form method="post" action="/login">
        <div class="row">
            <div id="loginInformation" class="col-md-6 offset-md-3">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-block btn-success" formaction="/login/signin">Log in</button>
                <button type="submit" class="btn btn-block btn-primary" formaction="/login/signup">Sign up</button>
                <button type="submit" class="btn btn-block btn-danger" formaction="/login">Cancel</button>
            </div>
        </div>
    </form>
</div>