<script>
    window.onload = function () {
        let currentPage = document.getElementById("login");
        currentPage.className += " active";
    }
</script>

<div class="container pt-5 mt-5">
    <h2 class="page-header text-center">Account Login</h2>
    <form method="post" action="/login">
        <div class="row">
            <div id="loginInformation" class="col-md-6 offset-md-3">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password 8 characters minimum" pattern=".{8,}">
                </div>
                <div class="form-row justify-content-between m-0 mb-3">
                    <button type="submit" class="btn btn-danger col-4" formaction="/login">Cancel</button>
                    <button type="submit" class="btn btn-success col-4" formaction="/login/signin">Log in</button>
                </div>
                <div>
                    <button type="submit" class="btn btn-block btn-primary" formaction="/login/signup">Sign up</button>
                </div>
                <br>
                <p class="text-center">Note: Agents and Buyers share registration pages and have the option to choose to register as Agent or Buyer </p>
            </div>
        </div>
    </form>
</div>