{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<div class="container">
<form method="post" action="/fa17g11/agent/register">
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" placeholder="Frst Name" name="firstName">
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" placeholder="Last Name" name="lastName">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Email" name="email">
    </div>
    <div class="form-group">
        <label>Phone Number</label>
        <input type="phone-number" class="form-control" placeholder="Phone Number" name="phoneNumber">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password - min 8 characters" name="password">
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password2">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
