{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<div class="container pt-5 mt-5">
    <h2 class="page-header text-center">Sign Up</h2>
    <form method="post" action="/signup">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="form-group">
                    <label>First Name *</label>
                    <input type="text" class="form-control" placeholder="First Name" name="firstName" maxlength="20">
                </div>
                <div class="form-group">
                    <label>Last Name *</label>
                    <input type="text" class="form-control" placeholder="Last Name" name="lastName" maxlength="20">
                </div>
                <div class="form-group">
                    <label>Email *</label>
                    <input type="email" class="form-control" placeholder="Email" name="email"
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" maxlength="40">
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="phone-number" class="form-control" placeholder="Phone Number" name="phoneNumber"
                           maxlength="11">
                </div>
                <div class="form-group">
                    <label>Password *</label>
                    <input type="password" class="form-control" placeholder="Password - min 8 characters"
                           name="password" pattern=".{8,}" maxlength="20">
                </div>
                <div class="form-group">
                    <label>Confirm Password *</label>
                    <input type="password" class="form-control" placeholder="Password" name="password2" pattern=".{8,}"
                           maxlength="20">
                </div>
                <div class="form-group col-xs-6">
                    <label>Are you an agent?</label> <br>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="yes"> Yes
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" value="no"> No
                        </label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" data-toggle="modal" data-target="#exampleModalLong"
                                   type="checkbox" name="termsOfService">Agree with Terms of Service
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-danger pull-left" formaction="/signup">Cancel</button>
                <button type="submit" class="btn btn-success pull-right" formaction="/signup/create">Create Account
                </button>

            </div>

        </div>
    </form>

    <!-- Terms of service modal start-->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title text-center" id="exampleModalLongTitle">TERMS AND CONDITIONS</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ol>
                        <li><strong>Introduction</strong></li>
                    </ol>
                    <p>These Website Standard Terms and Conditions written on this webpage shall manage your use of this
                        website. These Terms will be applied fully and affect to your use of this Website. By using this
                        Website, you agreed to accept all terms and conditions written in here. You must not use this
                        Website if you disagree with any of these Website Standard Terms and Conditions.</p>
                    <p>Minors or people below 18 years old are not allowed to use this Website.</p>
                    <ol start="2">
                        <li><strong>Intellectual Property Rights</strong></li>
                    </ol>
                    <p>Other than the content you own, under these Terms, Gator Realtor and/or its licensors own all the
                        intellectual property rights and materials contained in this Website.</p>
                    <p>You are granted limited license only for purposes of viewing the material contained on this
                        Website.</p>
                    <ol start="3">
                        <li><strong>Restrictions</strong></li>
                    </ol>
                    <p>You are specifically restricted from all of the following</p>
                    <ul>
                        <li>publishing any Website material in any other media;</li>
                        <li>selling, sublicensing and/or otherwise commercializing any Website material;</li>
                        <li>publicly performing and/or showing any Website material;</li>
                        <li>using this Website in any way that is or may be damaging to this Website;</li>
                        <li>using this Website in any way that impacts user access to this Website;</li>
                        <li>using this Website contrary to applicable laws and regulations, or in any way may cause harm
                            to the Website, or to any person or business entity;
                        </li>
                        <li>engaging in any data mining, data harvesting, data extracting or any other similar activity
                            in relation to this Website;
                        </li>
                        <li>using this Website to engage in any advertising or marketing.</li>
                    </ul>
                    <p>Certain areas of this Website are restricted from being access by you and Gator Realtor may
                        further restrict access by you to any areas of this Website, at any time, in absolute
                        discretion. Any user ID and password you may have for this Website are confidential and you must
                        maintain confidentiality as well.</p>
                    <ol start="4">
                        <li><strong>Your Content</strong></li>
                    </ol>
                    <p>In these Website Standard Terms and Conditions, “Your Content” shall mean any audio, video text,
                        images or other material you choose to display on this Website. By displaying Your Content, you
                        grant Gator Realtor a non-exclusive, worldwide irrevocable, sub licensable license to use,
                        reproduce, adapt, publish, translate and distribute it in any and all media.</p>
                    <p>Your Content must be your own and must not be invading any third-party’s rights. Gator Realtor
                        reserves the right to remove any of Your Content from this Website at any time without
                        notice.</p>
                    <ol start="5">
                        <li><strong>No warranties</strong></li>
                    </ol>
                    <p>This Website is provided “as is,” with all faults, and Gator Realtor express no representations
                        or warranties, of any kind related to this Website or the materials contained on this Website.
                        Also, nothing contained on this Website shall be interpreted as advising you.</p>
                    <ol start="6">
                        <li><strong>Limitation of liability</strong></li>
                    </ol>
                    <p>In no event shall Gator Realtor, nor any of its officers, directors and employees, shall be held
                        liable for anything arising out of or in any way connected with your use of this Website whether
                        such liability is under contract. &nbsp;Gator Realtor, including its officers, directors and
                        employees shall not be held liable for any indirect, consequential or special liability arising
                        out of or in any way related to your use of this Website.</p>
                    <ol start="7">
                        <li><strong>Indemnification</strong></li>
                    </ol>
                    <p>You hereby indemnify to the fullest extent Gator Realtor from and against any and/or all
                        liabilities, costs, demands, causes of action, damages and expenses arising in any way related
                        to your breach of any of the provisions of these Terms.</p>
                    <ol start="8">
                        <li><strong>Severability</strong></li>
                    </ol>
                    <p>If any provision of these Terms is found to be invalid under any applicable law, such provisions
                        shall be deleted without affecting the remaining provisions herein.</p>
                    <ol start="9">
                        <li><strong>Variation of Terms</strong></li>
                    </ol>
                    <p>Gator Realtor is permitted to revise these Terms at any time as it sees fit, and by using this
                        Website you are expected to review these Terms on a regular basis.</p>
                    <ol start="10">
                        <li><strong>Assignment</strong></li>
                    </ol>
                    <p>The Gator Realtor is allowed to assign, transfer, and subcontract its rights and/or obligations
                        under these Terms without any notification. However, you are not allowed to assign, transfer, or
                        subcontract any of your rights and/or obligations under these Terms.</p>
                    <ol start="11">
                        <li><strong>Entire Agreement</strong></li>
                    </ol>
                    <p>These Terms constitute the entire agreement between Gator Realtor and you in relation to your use
                        of this Website, and supersede all prior agreements and understandings.</p>
                    <ol start="12">
                        <li><strong>Governing Law &amp; Jurisdiction</strong></li>
                    </ol>
                    <p>These Terms will be governed by and interpreted in accordance with the laws of the State of CA,
                        and you submit to the non-exclusive jurisdiction of the state and federal courts located in CA
                        for the resolution of any disputes.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary widthOneHundredPercent" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Terms of service modal end-->

</div>
